{# jogosEditar.html - isto é um comentário #}
{% extends "_base.html" %}

{% set estilos = {
        'acao' : 'Ação',
        'tiro' : 'Tiro',
        'rpg' : 'RPG',
    }
%} 

{% block conteudo %}
<h2>Editar jogo</h2>
<h3>Você está editando o jogo {{ jogo.nome }}</h3>
<br>
<div>
    <form action="jogosEditar.php" method="post" enctype="multipart/form-data">
        <input type="hidden" name="id" value="{{ jogo.id }}">
        Nome: <input type="text" name="nome" placeholder="Novo nome" value="{{ jogo.nome }}">
        <br>
        Estilo: <select name="estilo">
            <option value="acao" {% if jogo.estilo == 'acao' %} selected{% endif %}>Ação</option>
            <option value="tiro" {% if jogo.estilo == 'tiro' %} selected{% endif %}>Tiro</option>
            <option value="rpg" {% if jogo.estilo == 'rpg' %} selected{% endif %}>RPG</option>
        </select>
        <br>
        Capa: <img src="img//{{ jogo.capa }}"> 
        <input type="file" name="capa">
        <br>
        <input type="submit" value="Concluído✅"
        style="background-color: green; font-weight: bold;">
    </form>
    <br>
    <a href="jogos.php">Cancelar</a>
</div>
{% endblock %}